.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
*.tfplan


.terraform/providers/


.terraformrc
terraform.rc


*.log
*.tmp
*.swp




*.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.DS_Store


node_modules/


*.bak
*.orig
*.tmp
